@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    font-size: 1.8rem;
    font-family: "Kumbh Sans", sans-serif;
    background-color: hsl(185, 75%, 39%);
    font-weight: 400;
    background-image: url(../images/bg-pattern-top.svg),
      url(../images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 50vh, left 50vw top 50vh;
  }

h1, h2 {
    margin: 0;
}

  main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }

.card {
    background-color: hsl(0, 0%, 100%);
    width: calc(100% - 4.8rem);
    max-width: 35rem;
    border-radius: 1.5rem;
    overflow: hidden;
    text-align: center;
}

.user-info {
    background-image: url(./images/bg-pattern-card.svg);
    background-repeat: no-repeat;
}

.user-image {
    margin-top: 8.7rem;
    border-radius: 50%;
    border: 0.5rem solid hsl(0, 0%, 100%);
}

.user-name {
    margin-top: 2rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.user-age {
    color: hsl(227, 10%, 46%);
    font-weight: 400;
}

.user-city {
    margin-top: 1rem;
    color: hsl(227, 10%, 46%);
    font-size: 1.5rem;
    font-weight: 400;
}

.user-stats {
    padding: 2.6rem;
    list-style: none;
    margin-block: 2.6rem 0;
    border-top: 0.1rem solid hsla(0, 0%, 59%, 0.3);
    display: flex;
    justify-content: space-around;
}

.stats-info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.stats-count {
    color: hsl(229, 23%, 23%);
}

.stats-pad {
    font-size: 1.2rem;
    color: hsl(227, 10%, 46%);
    letter-spacing: 0.08rem;
}